@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


.container-fluid {
    max-width: 960px;
    width: 95%;
    margin: 50px auto;
}
.container-fluid p {
    text-align: justify;
    line-height: 2;
}
.col-6 a img {
    width: 100%;
    border-radius: 20px;
    margin: 20px 0;
}