@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.container-fluid {
    max-width: 1024px;
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 3rem;
}
.container-fluid p {
    /*text-indent: 15px;*/
    text-align: justify;
}
ul {
    list-style: none;
    padding:0;
}
.container-fluid ul li {
    padding-left: 15px;
}
.contact {
    max-width: 620px;
    width: 100%;
    margin: 5px auto;
}
.contacto, .address{
    margin: 2rem 0;
    padding: 5px 0;
}
.contacto p, .address p{
    line-height: 0.8;
    text-align: center;
}
.map-ac {
    max-width: 1024px;
    width: 95%;
}
@media screen and (max-width:425px){    
    .container-fluid {
        width: 90%;
        padding: 87px 0;
    }
}
