@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.container-fluid {
    max-width: 1024px;
    width: 75%;
    padding: 100px 0;
    margin: 0px auto;
}
.container-fluid p {
    /* text-indent: 15px; */
    text-align: justify;
}

ul {
    list-style: none;
    padding: 0;
}
ul.specialties li ul li {
    padding-left: 15px;
}

@media screen and (max-width:425px){    
    header {
        height:76vh;
    } 
    .container-fluid {
        width: 90%;
        padding: 87px 0;
    }

}